# Gemini API Key
# Get your API key from: https://aistudio.google.com/apikey
VITE_GEMINI_API_KEY=your_api_key_here

# Unsplash API Access Key
# Get your API key from: https://unsplash.com/developers
VITE_UNSPLASH_ACCESS_KEY=EfKQ8Gr6e9EMEkbG9PL3YKnbDQamvfqtiKL0ji6T1r8

# Pexels API Key (fallback)
# Get your API key from: https://www.pexels.com/api/
VITE_PEXELS_API_KEY=563492ad6f91700001000001c69e2c70104b40298c1a5f26edc22c47
